/* General Styles */
body {
	background: #232323;
	font-family: Arial, Helvetica, sans-serif;
}

#smarticle {
	width: 1000px;
	min-height: 800px;
	margin: 10px auto 0;
	background: #fff;
	overflow: hidden;
}

.smarticle-layout {
	float: left;
	width: 600px;
	min-height: 800px;
	background: #eee;
	padding-bottom: 100px;
}

.smarticle-tools {
	float: right;
	width: 379px;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 10px;
}

.smarticle-preview {
	float: right;
	padding: 10px;
	width: 379px;
	font-size: 12px;
}
.smarticle-preview h2{
	font-size: 16px;
	margin: 0 0 5px;
}
.smarticle-preview ul {
	padding-left: 10px;
}
.smarticle-preview img,
.smarticle-preview iframe {
	width: 100%;
}
.smarticle-preview iframe {
	height: 250px;
}

.smartifact {
	height: 30px;
	border: 1px solid #232323;
	border-radius: 5px;
	margin-bottom: 10px;
	background: #ccc;
	font-size: 14px;
	padding: 0 10px;
}
.smartifact:last-child {
	margin-bottom: 0px;
}

.smarticle-tools .smartifact {
	line-height: 30px;
	cursor: move;
}

.smarticle-layout .smartifact {
	position: relative;
	background: #cc9999;
	min-height: 50px;
	padding: 10px;
	border-radius: 5px;
	height: auto;
}
.smarticle-layout .smartifact h2 {
	cursor: move;
}

/* Special Styles */
[draggable] {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	/* Required to make elements draggable in old WebKit */
	-khtml-user-drag: element;
	-webkit-user-drag: element;
}

.smartifact-placeholder {
	border: 1px dashed #999;
	border-radius: 5px;
	min-height: 30px;
}

.smartifact-wrapper {
	padding: 10px 10px 0;
}


/* Smartifact styles */

.smartifact h2 {
	color: #885555;
	font-size: 20px;
	margin: 0 0 10px;
}
.smartifact h3 {
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
.smartifact .field {
	padding: 5px;
	margin-bottom: 10px;
	background: #ccc;
}
.smartifact .field label {
	padding-right: 10px;
}
.smartifact .field input {
	width: 300px;
	border: 1px solid #999;
	height: 20px;
	padding: 2px 5px;
}

.smartifact .text_field label,
.smartifact .dropdown_field label {
	position: relative;
	top: 1px;
}
.smartifact .markdown_field label {
	display: block;
	padding: 0 0 5px;
}
.smartifact .field textarea {
	width: 536px;
	height: 150px;
	resize: none;
	padding: 5px;
}
.smartifact .help {
	padding-top: 5px;
	font-size: 11px;
	color: #666;
}
.smartifact .remove {
	position: absolute;
	top: 10px;
	right: 10px;
	text-decoration: none;
	color: #232323;
	font-weight: bold;
}